/* The side navigation menu */

#main{
  background:linear-gradient(
          rgba(0, 0, 0, 0.2), 
          rgba(0, 0, 0, 0.5)
        ), url("images/bg-main.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.sidenav{

  height: 100%; /* 100% Full-height */
  width: 9%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  background-color: #404040; /* Black*/
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav img{

padding-bottom: 1rem;

}

.sidenav a {
  font-family: "Roboto", sans-serif;
  font-size: 0.2rem;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1rem;
  color: #999999;
  display: block;
  transition: 0.8s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav hr{
  border-top: 1px solid #a6a6a6;
  padding: 0rem;
  margin: 0rem;
}

.sidenav i{
padding-left: 1rem;
padding-right: 0.8rem;
}


.text-name{
  margin-top: 100rem;
  margin-left: 50rem;
}

.Followic{
padding-top: 4rem;
padding-left: 1.7rem;
}

.Followic a{
  padding: 0;
  float: left;
}

.Followic i{
  color: #777;
  padding-left :0.3rem;
  transition: 0.5s;
}

.Followic i:hover{
  color: #f2f2f2;
}



.main .Jumbotron{
  height: 80vh;
  width: 100%;
}

.Details{
  padding-top: 5rem;
  margin-left: 30rem;
  margin-right: 23rem;
}

#contact{
  font-family: "Playfair Display", serif;
  color: #0066ff;
  font-weight: 600;
  float: left
}

.fa-envelope-o{
  color: #0066ff;
  padding-left: 35rem;
  float: right;
  line-height: 1rem;
}


.below-cont{
  border-top: 1px dashed grey;
}


.Lets{
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  padding-left: 33rem;
  padding-top: 1rem;
}

input, select, textarea {
color: white;
}

.in-Left{
padding-left: 1rem;
margin-left: 4rem;
line-height: 2.5rem;
width: 20rem;
}

.in-Right{
  padding-left: 1rem;
  margin-right: 4rem;
  line-height: 2.5rem;
  width: 20rem;
}

.to-Right{
  float: right;
}

.to-Left{
  float: left;
  clear: both;
}

.to-abt{
  margin-top: 6rem;
  margin-left: 5rem;
}

.in-abt{
  width:65rem;
  height: 10rem;
}

.Send-msg{
  margin-left: 28rem;
  margin-top: 2rem;
}


.last{
  margin-top: 5rem;
}

.foot{
  font-size: 1.5rem;
  float: left;
}

.foot i{
  color: #1ab2ff;
  padding-left: 3.7rem;
}

.foot a{
  text-decoration: none;
}

.foot p{
  color: white;
  font-weight: 900;
  font-family: "Playfair Display", serif;
}

.se2{
  padding-left: 20rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}