body{
    background-color: black;
    p{
      cursor:default;
    }
    a{
      cursor: pointer;
      text-decoration: none;
      color: white;
    }
}

@font-face {
  font-family: Pixel;
  src: url("./assets/VCROSDMono.woff2");
}

.container{
    display: flex;
    flex-direction: column;
    padding: 0% 12%;
}

.navbar{
  font-family: Pixel;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: rgba(0, 0, 0, 0.815);

  ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: 1;
    

    p{
      color: blueviolet;
      filter: contrast(500%);
      cursor: pointer;
    }

    p:hover{
      animation: shake 100ms ease infinite;
    }

  }
  

}


.gliched-text{
    
    color: rgba(219, 216, 216, 0.863);
    font-family: Pixel,monospace;
    line-height: 2em;
    font-size: 3.2rem;
    text-transform: uppercase;

    transition: all 500ms ease-in-out;

    text-shadow:0.1em 0 0 rgba(255, 0, 0, 0.349),
    0.1em 0.07em 0 rgba(0, 128, 0, 0.349),
    -0.1em -0.07em 0 rgba(0, 0, 255, 0.349);
}

.gliched-move{
    position: relative;
    color: rgb(255, 255, 255);

    span{
      position: absolute;
      left: 0;
      transition: all 400ms ease-out;
      z-index:1;
    }

    span:first-child{
      position: inherit;
      animation: move 500ms infinite;
    }

    span:nth-child(2){
        animation: move 600ms infinite;
        clip-path: polygon(0 20%, 100% 0, 100% 45%, 0 45%);
        transform: translate(-0.1em, -0.025em);
    }

    span:last-child{
        animation: move 300ms infinite;
        clip-path: polygon(0 55%, 100% 45%, 100% 100%, 0 100%);
        transform: translate(0.1em, 0.025em);
    }
}

.gliched-move:hover{

  span:first-child{
    position: inherit;
    animation: move 200ms infinite;
  }

  span:nth-child(2){
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  span:last-child{
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
  
}

@keyframes move{

    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.505),
          -0.05em -0.025em 0 rgba(0, 255, 0, 0.505),
          -0.025em 0.05em 0 rgba(0, 0, 255, 0.505);
      }
      14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.505),
          -0.05em -0.025em 0 rgba(0, 255, 0, 0.505),
          -0.025em 0.05em 0 rgba(0, 0, 255, 0.505);
      }
      15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.505),
          0.025em 0.025em 0 rgba(0, 255, 0, 0.505),
          -0.05em -0.05em 0 rgba(0, 0, 255, 0.505);
      }
      49% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.505),
          0.025em 0.025em 0 rgba(0, 255, 0, 0.505),
          -0.05em -0.05em 0 rgba(0, 0, 255, 0.505);
      }
      50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.505),
          0.05em 0 0 rgba(0, 255, 0, 0.505), 0 -0.05em 0 rgba(0, 0, 255, 0.505);
      }
      99% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.505),
          0.05em 0 0 rgba(0, 255, 0, 0.505), 0 -0.05em 0 rgba(0, 0, 255, 0.505);
      }
      100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.505),
          -0.025em -0.025em 0 rgba(0, 255, 0, 0.505),
          -0.025em -0.05em 0 rgba(0, 0, 255, 0.505);
      }
}

@keyframes shake{
  0% {
    transform: translate(-1.5px);
  }
  32% {
    transform: translateX(-1.5px);
  }
  33% {
    transform: translateX(0px);
  }
  65% {
    transform: translateX(0px);
  }
  66% {
    transform: translateX(1.5px);
  }
  100% {
    transform: translateX(1.5px);
  }

}

.skills{
  font-family: Pixel;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20rem;
  color: white;
}

.skill{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
  p{
    font-size: 2em;
    flex: 3;
  }
}

.skill-container{
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(78, 77, 77, 0.329);
  flex: 7;
}

.c{
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 5px 0px 0px 5px ;
  background-color: blueviolet;
  box-shadow: 0px 0px 10px 3px blueviolet;
}

body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(201, 10, 207, 0.3);
  outline: 1px solid blueviolet;
}