html{
  scroll-snap-type: y mandatory;
  overflow: hidden;
}
body{
  margin: 0px;
  cursor: none;
  height: 100vh;
    background-color: black;
    a{
      text-decoration: none;
      color: white;
      cursor: none;
    }
  
}


.child {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0% 10%;
  scroll-snap-align: start;
}

@font-face {
  font-family: Pixel;
  src: url("./assets/VCROSDMono.woff2");
}

.navbar{
  font-family: Pixel;
  position: fixed;
  width: 100%;
  z-index: 50;
  top: 0;
  padding-top: 20px;
  background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.01) 100%);

  ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    

    a{
      color: blueviolet;
      filter: contrast(500%);
      text-shadow: 0px 6px 10px rgba(137, 43, 226, 0.918);
      transition: all 100ms ease-in-out;
    }
    
    ul:hover #cursor{
      transform: scale(2);
     }    


    a::after{
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -12px;
      left: 0;
      background-color: blueviolet;
      transform-origin: bottom right;
      transition: transform 550ms ease-in-out;
    }

    a:hover::after{
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    
  }
  

}


.gliched-text{
    color: rgb(219, 216, 216);
    font-family: Pixel,monospace;
    line-height: 2em;
    font-size: 2.5rem;
    text-transform: uppercase;

    transition: all 500ms ease-in-out;

    text-shadow:0.1em 0 0 rgba(255, 0, 0, 0.349),
    0.1em 0.07em 0 rgba(0, 128, 0, 0.349),
    -0.1em -0.07em 0 rgba(0, 0, 255, 0.349);
}

.gliched-move{
    z-index: 5;
    position: relative;
    color: rgb(255, 255, 255);

    span{
      position: absolute;
      left: 0;
      z-index:1;
    }

    span:first-child{
      position: inherit;
      animation: move 500ms infinite;
    }

    span:nth-child(2){
        animation: move 600ms infinite;
        clip-path: polygon(0 20%, 100% 0, 100% 45%, 0 45%);
        transform: translate(-0.1em, -0.025em);
    }

    span:last-child{
        animation: move 300ms infinite;
        clip-path: polygon(0 55%, 100% 45%, 100% 100%, 0 100%);
        transform: translate(0.1em, 0.025em);
    }
}


.gliched-move:hover{
  
  span:first-child{
    position: inherit;
    animation: move 200ms infinite;
  }

  span:nth-child(2){
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  span:last-child{
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
  
}

@keyframes move{

    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.505),
          -0.05em -0.025em 0 rgba(0, 255, 0, 0.505),
          -0.025em 0.05em 0 rgba(0, 0, 255, 0.505);
      }
      14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.505),
          -0.05em -0.025em 0 rgba(0, 255, 0, 0.505),
          -0.025em 0.05em 0 rgba(0, 0, 255, 0.505);
      }
      15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.505),
          0.025em 0.025em 0 rgba(0, 255, 0, 0.505),
          -0.05em -0.05em 0 rgba(0, 0, 255, 0.505);
      }
      49% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.505),
          0.025em 0.025em 0 rgba(0, 255, 0, 0.505),
          -0.05em -0.05em 0 rgba(0, 0, 255, 0.505);
      }
      50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.505),
          0.05em 0 0 rgba(0, 255, 0, 0.505), 0 -0.05em 0 rgba(0, 0, 255, 0.505);
      }
      99% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.505),
          0.05em 0 0 rgba(0, 255, 0, 0.505), 0 -0.05em 0 rgba(0, 0, 255, 0.505);
      }
      100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.505),
          -0.025em -0.025em 0 rgba(0, 255, 0, 0.505),
          -0.025em -0.05em 0 rgba(0, 0, 255, 0.505);
      }
}



.skill-container{
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(78, 77, 77, 0.329);
  flex: 7;
}

.c{
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 5px 0px 0px 5px ;
  background-color: blueviolet;
  box-shadow: 0px 0px 10px 3px blueviolet;
}

body::-webkit-scrollbar {
  width: 1px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(201, 10, 207, 0.3);
  outline: 1px solid blueviolet;
}

#cursor{
  transform: translate(-50%,-50%);
  height: 20px;
  width: 20px;
  transition: all 20ms ease;
  position: fixed;
  border: 2px solid;
  border-color: white;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0px 0px 25px 0px white,
  inset 0px 0px 5px 0px white;
  z-index: 100;
  transition: transform 250ms ease-in-out;
  animation: beat 1s infinite ease-in-out;
}

@keyframes beat {
  0%{
    box-shadow: 0px 0px 25px 0px white,
  inset 0px 0px 5px 0px white;
  }
  50%{
    box-shadow: 0px 0px 10px 0px white,
  inset 0px 0px 1px 0px white;
  }
  100%{
    box-shadow: 0px 0px 25px 0px white,
  inset 0px 0px 5px 0px white;
  }
}

#overlay-back{
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  cursor: pointer;
  opacity: 0.25;
  background-image: url("./assets/noise\ try.gif");
}


#overlay-front::after{
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 3;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

#overlay-bottom{
  position: fixed;
  width: 100%;
  z-index: 50;
  bottom: 0;
  padding-top: 100px;
}

#overlay-right{
  position: fixed;
  width: 2.5%;
  height: 100%;
  z-index: 50;
  right: 0;
  background: linear-gradient(90deg, rgba(0,0,0,0.0)0% ,rgba(0,0,0,0.3) 100%);
}

#overlay-left{
  position: fixed;
  width: 2.5%;
  height: 100%;
  z-index: 50;
  left: 0;
  background: linear-gradient(270deg, rgba(0,0,0,0.00)0% ,rgba(0,0,0,0.3) 100%);
}

#overlay-background{
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: -1;
  cursor: pointer;
  opacity: 1;
  filter: blur(5px);
  background-image: url("./assets/Home.jpg");
}

.icon-hero{
  height: auto;
  width: 3em;
  align-self: center;
  justify-self: center;
  animation: icon-flick 1.5s infinite; 
}

@keyframes icon-flick {
  0%{
    filter: drop-shadow(0px 0px 0px #ffffff)  blur(2px)  ;
  }
  100%{
    filter: drop-shadow(0px 0px 45px #Ffffff) blur(0px);
  }
}

@keyframes scroll {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes change {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0.25;
  }
  
}

input{
  text-align: center;
  cursor: none;
  background-color: rgba(0, 0, 0, 0.582);
  color: white;
  margin: 2% 0%;
  padding: 12px;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  border: none;
}
input:focus{
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.746);
}
input::placeholder{
  color: #ffffff;
  opacity: 0.8;
}

textarea{
  margin: 2% 0%;
  cursor: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.582);
  color: white;
  border: none;
  resize: none;
  font-size: 1.25em;
}

textarea:focus{
  background-color: rgba(0, 0, 0, 0.746);
}

textarea::placeholder{
  color: #ffffff;
  opacity: 0.8;
}

.submit{
  margin: 2%;
  padding:2% 5% ;
  outline: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.664);
  color: black;
  font-size: 1.5em;
  font-weight: bolder;
  text-transform: uppercase;
  border: none;
  z-index: 10;
  cursor: none;
  filter: blur(1.5px);
  text-shadow: 0px 0px 10px #000000;
  transition: all 500ms ease-in-out;
}

.submit:hover{
  background-color: rgb(0, 0, 0);
  filter: blur(0.5px);
  color: #ffffff;
  text-shadow: 0px 0px 15px #ffffff;
}

.social-items{
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5em;
  column-gap: 5em;
  text-align: center;
}


.social-item:hover{
  z-index: 10;
  color: #ffffff;
  text-shadow:0px 0px 20px #d8d8d8;
}

.container{
  display:grid; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
}


@media only screen and (max-width: 1300px) {
  .gliched-text{
    font-size: 1.7em;
  }
  .gliched-move{
    font-size: 1em;
  }
}

@media only screen and (max-height: 900px) {
  .gliched-text{
    font-size: 1.7em;
  }
  .gliched-move{
    font-size: 1em;
  }
}

@media only screen and (max-width: 1000px) {
  .gliched-text{
    font-size: 1.5em;
  }
  .gliched-move{
    font-size: 1em;
  }
  .navbar{
    font-size: 0.8em;
  }

}

@media only screen and (max-width: 680px) {
  .navbar{
    font-size: 0.6em;
  }
  body{
    .container{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 2em;
    }
  }

  #cursor{
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .gliched-text{
    font-size: 1em;
  }
  .gliched-move{
    font-size: 1em;
  }
  .navbar{
    font-size: 0.4em;
    letter-spacing: normal;
  }
}

@media only screen and (max-width: 550px) {

  .navbar{
    font-size: 0.4rem;
    ul{
      flex-direction: column;
      row-gap: 15px;
      letter-spacing: 15px;
      font-weight: bolder;
      a::after{
        bottom: -5px;
        height: 1px;
      }
    }
  }
}




