body{
    background-color: black;
    p{
      cursor:default;
    }
    a{
      cursor: pointer;
      text-decoration: none;
      color: white;
    }
}

.container{
    display: flex;
    flex-direction: column;
    padding: 0% 12%;
}

.navbar{
  ul{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-transform: uppercase;
    opacity: 0.8;
  }
  

}

.gliched-text{
    color: rgb(243, 243, 243);
    font-family: VCR OSD Mono,monospace;
    font-size: 4rem;
    text-transform: uppercase;

    transition: all 500ms ease-in-out;

    text-shadow:0.07em 0 0 rgba(255, 0, 0, 0.505),
    -0.035em -0.07em 0 rgba(0, 128, 0, 0.505),
    0.035em 0.07em 0 rgba(0, 0, 255, 0.505);
}

.gliched-move{
    animation: move 500ms infinite;
    position: relative;

    span:first-child{
        position: absolute;
        top: 0;
        left: 0;
        animation: move 600ms infinite;
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
        transform: translate(-0.05em, -0.025em);
    }

    span:last-child{
        position: absolute;
        top: 0;
        left: 0;
        animation: move 300ms infinite;
        clip-path: polygon(0 60%, 100% 50%, 100% 10%, 10% 80%);
        transform: translate(0.05em, 0.10em);
    }
}

.gliched-move:hover{

  span:first-child{
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  span:last-child{
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
  
}

@keyframes move{

    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.505),
          -0.05em -0.025em 0 rgba(0, 255, 0, 0.505),
          -0.025em 0.05em 0 rgba(0, 0, 255, 0.505);
      }
      14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.505),
          -0.05em -0.025em 0 rgba(0, 255, 0, 0.505),
          -0.025em 0.05em 0 rgba(0, 0, 255, 0.505);
      }
      15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.505),
          0.025em 0.025em 0 rgba(0, 255, 0, 0.505),
          -0.05em -0.05em 0 rgba(0, 0, 255, 0.505);
      }
      49% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.505),
          0.025em 0.025em 0 rgba(0, 255, 0, 0.505),
          -0.05em -0.05em 0 rgba(0, 0, 255, 0.505);
      }
      50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.505),
          0.05em 0 0 rgba(0, 255, 0, 0.505), 0 -0.05em 0 rgba(0, 0, 255, 0.505);
      }
      99% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.505),
          0.05em 0 0 rgba(0, 255, 0, 0.505), 0 -0.05em 0 rgba(0, 0, 255, 0.505);
      }
      100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.505),
          -0.025em -0.025em 0 rgba(0, 255, 0, 0.505),
          -0.025em -0.05em 0 rgba(0, 0, 255, 0.505);
      }



}