

.sidenav{

  height: 100%; /* 100% Full-height */
  width: 9%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #404040; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav img{
padding: 1px;
padding-bottom: 1rem;

}

.sidenav a {
  font-family: "Roboto", sans-serif;
  font-size: 0.2rem;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1rem;
  color: #999999;
  display: block;
  transition: 0.8s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav hr{
  border-top: 1px solid #a6a6a6;
  padding: 0rem;
  margin: 0rem;
}

.sidenav i{
padding-left: 1rem;
padding-right: 0.8rem;
}


.text-name{
  margin-top: 100rem;
  margin-left: 50rem;
}

.Followic{
padding-top: 4rem;
padding-left: 1.7rem;
}

.Followic a{
  padding: 0;
  float: left;
}

.Followic i{
  color: #777;
  padding-left :0.3rem;
  transition: 0.5s;
}

.Followic i:hover{
  color: #f2f2f2;
}


.main{
  background-color: #262626;
  height: 100vh;
  width: 100%;
  padding-top: 5rem;
}

.container{
  margin-left: 30rem;
  margin-right: 23rem;
}

.top h1{
  font-family: "Playfair Display", serif;
  color: #0066ff;
  font-weight: 900;
}

.below-cont{
  border-top: 1px dashed grey;
  padding-bottom: 2rem;
}

.About-text h3{
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.About-text p{
  color: #e6e6e6;
}

.About-text .Left{
  float: left;
  width: 65%;
}

.About-text .Right h4{
  float: left;
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  text-decoration: underline solid #0066ff;
}

.details{
  clear: both;
  padding-top: 0.3rem;
}

.details p{
  padding-left: 0.5rem;
  float: left;
  margin-bottom: 0px;
}

.About-text .Right{
  width: 30%;
  float: right;
}

.services{
  margin-top: 7rem;
}

.services h2{
   font-family: "Playfair Display", serif;
   font-weight: 630;
   margin-left: 32rem;
   font-size: 1.7rem;
   margin-bottom: 5rem;
}

.List-ser{
  float: left;
}

.sec{
  margin-left: 12rem;
}

.List-ser i{
  color: #0066ff;
  font-size: 3.5rem;
  margin-bottom: 1rem;
 
}

.List-ser h5{
    color: white;
    font-family: "Times New Roman", Times, serif;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}