/* The side navigation menu */

#main{
  background:linear-gradient(
          rgba(0, 0, 0, 0.2), 
          rgba(0, 0, 0, 0.5)
        ), url("images/bg-main.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.sidenav{

  height: 100%; /* 100% Full-height */
  width: 9%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #404040; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav img{

padding-bottom: 1rem;

}

.sidenav a {
  font-family: "Roboto", sans-serif;
  font-size: 0.2rem;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1rem;
  color: #999999;
  display: block;
  transition: 0.8s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav hr{
  padding: 0rem;
  margin: 0rem;
}

.sidenav i{
padding-left: 1rem;
padding-right: 0.8rem;
}


.text-name{
  margin-top: 100rem;
  margin-left: 50rem;
}

.Followic{
padding-top: 30rem;
padding-left: 1.7rem;
}

.Followic a{
  padding: 0;
  float: left;
}

.Followic i{
  color: #777;
  padding-left :0.3rem;
  transition: 0.5s;
}

.Followic i:hover{
  color: #f2f2f2;
}


#main{
  padding-top: 25rem;
  padding-left: 45rem;
}

.Name p{
  float: left;
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  padding-left: 2rem;
}

.Fname p{
color: white;
font-weight: 400;
}

.Lname p{
  font-weight: 900;
  color: #3399ff;
}

.i-am{
  padding-left: 13rem;
}

.i-am p{
  font-size: 2rem;
  color: #ffb3d9;
  font-family: "Comic Sans MS", cursive, sans-serif;

}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}